<!DOCTYPE html>
<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125036200-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-125036200-1');
    </script>
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-dark.css" media="screen">
    <title>Elivaldo Lozer</title>
  </head>

  <body>

    {% include cabecalhomenu.html %}

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% include rodape.html %}

  </body>

</html>
